body {
    background-color: rgb(230, 205, 137);
  }

h2 {
    font-style: italic;
}

link {
    color: black;
}

.hemrubrik {
    font-size: xx-large;
    color: black;
    background-color: hsl(0, 98%, 38%);
    font-family: copperplate, fantasy, serif;
    text-align: center;
}

.huvudmeny {
    color: black;
    padding-left: 45%;
}

.citat {
    margin-top: 50px;
    font-family: italic;
    text-align: center;
}

.referens {
    margin-top: 70px;
    font-size: smaller;
}